params {
	singleEnd						=	false
	input							=	null
	reads							=	null
	outdir							=	"."

	// TRIM settings
	trim_tool						=	'adapterremoval'
	custom_adapter_1				=	null
	custom_adapter_2				=	null
	
	// software non-default options
	multiqc_config 					= 	"$projectDir/assets/multiqc_config.yaml"
	trimmomatic_opt					=	"MINLEN:60 ILLUMINACLIP:${params.adapters_file}:2:30:10:8:TRUE SLIDINGWINDOW:4:20 MINLEN:75"
	adapterremoval_opt				=	'--trimqualities --minquality 5'
	adapters_file					=	"${projectDir}/assets/adapters/NexteraPE-PE.fa"
	metaphlan_opt					=	'-t rel_ab_w_read_stats'
	humann_opt						=	null
	spades_opt						= 	'--meta'
	busco_opt						= 	null
	bowtie2_opt						=	'--very-sensitive-local'
	catpack_contig_opt				= 	null

	// OmicFlow settings
	filter_bacteria					= 	"bacterium, uncultured"	// Matching bacteria will be replaced with NAs
	coverage_threshold				=	"0.8" // Only applicable for CAT output

	// software database paths
	bowtie_db						=	null
	bowtie_db_name					=	'human_genome bowtie2'
	metaphlan_db					=	null
	metaphlan_db_index				=	'mpa_vJun23_CHOCOPhlAnSGB_202403'
	humann_db						=	null
	catpack_db						=	null
	busco_db						=	null
	busco_lineage					=	'bacteria_odb12'

	// Process bypass options
	bypass_trim						=	false
	bypass_decon					=	false
	bypass_read_annotation			=	false
	bypass_assembly					=	false
	bypass_contig_annotation		=	false
	bypass_report					=	false

	// File saving options
	save_trim_reads					=	false
	save_decon_reads				=	true
	save_interleaved_reads			=	false
	save_read_annotation			=	true
	save_assembly					=	true
	save_contig_annotation			=	true
	save_final_reports				= 	true

	// Schema validation default options
    validate_params					=	false // Not yet functional
	version							=	false
	help							=	false
	monochrome_logs					=	false

	email							=	null
	email_sender					=	null
	email_on_fail					=	null
	plaintext_email					=	false
	hook_url						=	null

	process_low_cpu					=	4
	process_med_cpu					=	8
	process_high_cpu				=	16
	cpus							=	32
}

// Load nf-pipeline-setup
includeConfig './conf/modules.config'

// Load base.config by default for all pipelines
includeConfig './conf/base.config'

plugins {
  id 'nf-schema@2.0.0'
}

manifest {
    name							=	'metabiomx'
    author							=	"""Alem Gusinac, Tom Ederveen, Jos Boekhorst, Annemarie Boleij"""
    homePage						=	'https://github.com/CMG-GUTS/metabiomx'
    description						=	"""Metagenomics workflow for Microbiomics"""
    mainScript						=	'main.nf'
	nextflowVersion					=	'!>=24.10.4'
    version							=	'1.2.0'
}

executor {
  $local {
      queueSize						=	params.cpus.intdiv(params.process_low_cpu)
	  cpus							=	params.cpus
  }
}

mail {
	smtp.host						=	null
	smtp.port						=	null
}

profiles {
    docker {
        docker.enabled				=	true
        docker.runOptions			=	'-u $(id -u):$(id -g) --rm --security-opt=no-new-privileges'
        singularity.enabled			=	false
        }
    singularity {
        singularity.enabled			=	true
        singularity.ociAutoPull		=	false
		singularity.cacheDir		=	"${projectDir}/cache"
        docker.enabled				=	false
        }
	test {
		includeConfig 'conf/test.config' 
	}
}
