process {
    withName: "TRIMMOMATIC" {
        container = {workflow.containerEngine == 'singularity' ? 'staphb/trimmomatic' : 'staphb/trimmomatic'}
        ext.args = [
            "MINLEN:60 ILLUMINACLIP:${params.adapters_file}:2:30:10:8:TRUE SLIDINGWINDOW:4:20 MINLEN:75"
        ].join(' ').trim()
    }
    withName: "ADAPTERREMOVAL" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/adapterremoval:latest' : 'agusinac/adapterremoval:latest'}
        ext.args   = [
            "--trimqualities --minquality ${params.adapterremoval_minquality}"
        ].join(' ').trim()
    }
    withName: "FASTQC" {
        container = {workflow.containerEngine == 'singularity' ? 'staphb/fastqc:latest' : 'staphb/fastqc:latest'}
    }
    withName: "MULTIQC" {
        container = {workflow.containerEngine == 'singularity' ? 'multiqc/multiqc:latest' : 'multiqc/multiqc:latest'}
    }
    withName: "BUSCO" {
        container = {workflow.containerEngine == 'singularity' ? 'ezlabgva/busco:v5.8.2_cv1' : 'ezlabgva/busco:v5.8.2_cv1'}
    }
    withName: "BUSCO_DOWNLOAD" {
        container = {workflow.containerEngine == 'singularity' ? 'ezlabgva/busco:v5.8.2_cv1' : 'ezlabgva/busco:v5.8.2_cv1'}
    }
    withName: "BUSCO_SUMMARY" {
        container = {workflow.containerEngine == 'singularity' ? 'ezlabgva/busco:v5.8.2_cv1' : 'ezlabgva/busco:v5.8.2_cv1'}
    }
    withName: "KNEADDATA" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/kneaddata:latest' : 'agusinac/kneaddata:latest'}
    }
    withName: "KNEADDATA_DOWNLOAD" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/kneaddata:latest' : 'agusinac/kneaddata:latest'}
    }
    withName: "INTERLEAVED" {
        container = {workflow.containerEngine == 'singularity' ? 'staphb/bbtools' : 'staphb/bbtools'}
    }
    withName: "HUMANN3" {
        container = {workflow.containerEngine == 'singularity' ? 'biobakery/humann:latest' : 'biobakery/humann:latest'}
    }
    withName: "HUMANN_DOWNLOAD" {
        container = {workflow.containerEngine == 'singularity' ? 'biobakery/humann:latest' : 'biobakery/humann:latest'}
    }
    withName: "METAPHLAN_DOWNLOAD" {
        container = {workflow.containerEngine == 'singularity' ? 'biobakery/humann:latest' : 'biobakery/humann:latest'}
    }
    withName: "MERGE_HUMANN3_TABLES" {
        container = {workflow.containerEngine == 'singularity' ? 'biobakery/humann:latest' : 'biobakery/humann:latest'}
    }
    withName: "SPADES" {
        container = {workflow.containerEngine == 'singularity' ? 'staphb/spades:latest' : 'staphb/spades:latest'} 
        ext.args   = [
            "--meta"
        ].join(' ').trim()
    }
    withName: "CATPACK_CONTIGS" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/catpack:latest' : 'agusinac/catpack:latest'}
    }
    withName: "CATPACK_DOWNLOAD" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/catpack:latest' : 'agusinac/catpack:latest'}
    }
    withName: "READ_ABUNDANCE_ESTIMATION" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/sambowtie2:latest' : 'agusinac/sambowtie2:latest'}
    }
    withName: "CAT_TO_BIOM" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/anot2biom:latest' : 'agusinac/anot2biom:latest'}
    }
    withName: "METAPHLAN_TO_BIOM" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/anot2biom:latest' : 'agusinac/anot2biom:latest'}
    }
    withName: "MERGE_MULTIQC_STATS" {
        container = {workflow.containerEngine == 'singularity' ? 'agusinac/anot2biom:latest' : 'agusinac/anot2biom:latest'}
    }
}


