params {
	singleEnd						=	false
	input							=	null
	reads							=	"$projectDir/tests/data/*_{R1,R2}_.fastq.gz"
	outdir							=	"$projectDir/tests/result"

	// TRIM settings
	trim_tool						=	'adapterremoval'
	custom_adapter_1				=	null
	custom_adapter_2				=	null
	
	// software non-default options
	multiqc_config 					= 	"$projectDir/assets/multiqc_config.yaml"
	bowtie2_opt						=	'--very-sensitive-local --phred33'
	metaphlan_opt					=	'-t rel_ab_w_read_stats'
	trimmomatic_opt					=	"MINLEN:60 ILLUMINACLIP:${params.adapters_file}:2:30:10:8:TRUE SLIDINGWINDOW:4:20 MINLEN:75"
	adapterremoval_opt				=	'--trimqualities --minquality 5'
	adapters_file					=	"${projectDir}/assets/adapters/NexteraPE-PE.fa"
	spades_opt						= 	'--meta'

	// OmicFlow settings
	filter_bacteria					= 	"bacterium, uncultured"	// Matching bacteria will be replaced with NAs
	coverage_threshold				=	"0.8" // Only applicable for CAT output

	// software database paths
	bowtie_db						=	"$projectDir/tests/db/bowtie_db"
	bowtie_db_name					=	'human_genome bowtie2'
	metaphlan_db					=	"$projectDir/tests/db/metaphlan_db"
	metaphlan_db_index				=	'mpa_vJun23_CHOCOPhlAnSGB_202403'
	humann_db						=	"$projectDir/tests/db/humann_db"
	catpack_db						=	"$projectDir/tests/db/catpack_db"
	busco_db						=	"$projectDir/tests/db/busco_downloads"
	busco_lineage					=	'bacteria_odb12'

	// Process bypass options
	bypass_trim						=	true
	bypass_decon					=	true
	bypass_read_annotation			=	false
	bypass_assembly					=	false
	bypass_contig_annotation		=	false
	bypass_report					=	false

	// File saving options
	save_trim_reads					=	false
	save_decon_reads				=	false
	save_interleaved_reads			=	false
	save_read_annotation			=	true
	save_assembly					=	true
	save_contig_annotation			=	true
	save_final_reports				= 	true

	// Schema validation default options
    validate_params					=	false // Not yet functional
	version							=	false
	help							=	false
	monochrome_logs					=	false

	email							=	null
	email_sender					=	null
	email_on_fail					=	null
	plaintext_email					=	false
	hook_url						=	null

	process_low_cpu					=	4
	process_med_cpu					=	8
	process_high_cpu				=	16
	cpus							=	32
}

process {

    cpus   = {  1    * task.attempt     }
    memory = {  1.GB * task.attempt     }
    time   = {  1.h  * task.attempt     }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = {  1                       }
        memory = {  1.GB * task.attempt     }
        time   = {  1.h  * task.attempt     }
    }
    withLabel:process_low {
        cpus   = {  params.process_low_cpu  * task.attempt  }
        memory = {  1.GB * task.attempt    }
        time   = {  1.h   * task.attempt    }
        maxForks = params.cpus.intdiv(params.process_low_cpu)
    }
    withLabel:process_medium {
        cpus   = {  params.process_med_cpu   * task.attempt  }
        memory = {  1.GB * task.attempt    }
        time   = {  1.h   * task.attempt    }
        maxForks = params.cpus.intdiv(params.process_med_cpu)
    }
    withLabel:process_high {
        cpus   = {  params.process_high_cpu   * task.attempt  }
        memory = {  1.GB * task.attempt    }
        time   = {  1.h  * task.attempt    }
        maxForks = params.cpus.intdiv(params.process_high_cpu)
    }
    withLabel:process_long {
        time   = {  1.h  * task.attempt    }
    }
    withLabel:process_high_memory {
        memory = {  1.GB * task.attempt   }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}